body {
    background : linear-gradient( #063d29, #0b6b43);
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;   
}

h1{
    color: #F5C542;
    font-size: 60px;
}

button{
    width: 220px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #0b6b43;
    background: #F5C542;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#message-el {
    font-style : italic;
}